## The American Community Survey data on college majors and job outcomes contains the 2010-2012 recent college grads only. 

### Here are the descriptions for the columns:

* Rank: 	Rank by median earnings
* Major_code: 	Major code, FO1DP in ACS PUMS
* Major: 	Major description
* Major_category: 	Category of major from Carnevale et al
* Total: 	Total number of people with major
* Sample_size: 	Sample size (unweighted) of full-time, year-round ONLY (used for earnings)
* Men: 	Male graduates
* Women: 	Female graduates
* ShareWomen: 	Women as share of total
* Employed: 	Number employed (ESR == 1 or 2)
* Full_time: 	Employed 35 hours or more
* Part_time: 	Employed less than 35 hours
* Full_time_year_round: 	Employed at least 50 weeks (WKW == 1) and at least 35 hours (WKHP >= 35)
* Unemployed: 	Number unemployed (ESR == 3)
* Unemployment_rate: 	Unemployed / (Unemployed + Employed)
* Median: 	Median earnings of full-time, year-round workers
* P25th: 	25th percentile of earnings
* P75th: 	75th percentile of earnings
* College_jobs: 	Number with job requiring a college degree
* Non_college_jobs: 	Number with job not requiring a college degree
* Low_wage_jobs: 	Number in low-wage service jobs

In [3]:
import sqlite3
conn = sqlite3.connect('jobs.db')
cursor = conn.cursor()

query = "select * from recent_grads;"
cursor.execute(query)
results = cursor.fetchall()
print(results[0:2])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50)]

* Write a query that returns all of the values in the Major column from the recent_grads table.
* Store the full results set (a list of tuples) in majors.
* Then, print the first three tuples in majors.

In [5]:
query1 = "select Major from recent_grads;"
cursor.execute(query1)
majors = cursor.fetchall()
print(majors[0:3])

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',)]

* Write and run a query that returns the Major and Major_category columns from recent_grads.
* Then, fetch the first five results and store them as five_results.

In [6]:
query1 = "select Major,Major_category from recent_grads;"
cursor.execute(query1)
five_results = cursor.fetchmany(5)
print(five_results)

[('PETROLEUM ENGINEERING', 'Engineering'), ('MINING AND MINERAL ENGINEERING', 'Engineering'), ('METALLURGICAL ENGINEERING', 'Engineering'), ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'), ('CHEMICAL ENGINEERING', 'Engineering')]

* Close the connection to the database using the Connection instance method close().

In [7]:
conn.close()

* Connect to the database jobs2.db, which contains the same data as jobs.db.
* Write and execute a query that returns all of the majors (Major) in reverse alphabetical order (Z to A).
* Assign the full result set to reverse_alphabetical.
* Finally, close the connection to the database.

In [10]:
import sqlite3
conn = sqlite3.connect('jobs.db')
cursor = conn.cursor()

query1 = "select Major from recent_grads order by 1 desc;"
cursor.execute(query1)
reverse_alphabetical = cursor.fetchall()
print(reverse_alphabetical[:5])
conn.close()

[('ZOOLOGY',), ('VISUAL AND PERFORMING ARTS',), ('UNITED STATES HISTORY',), ('TREATMENT THERAPY PROFESSIONS',), ('TRANSPORTATION SCIENCES AND TECHNOLOGIES',)]