In [1]:
import pandas as pd
import os

for fn in os.listdir("prices"):
    df = pd.read_csv(os.path.join("prices", fn))
    # Do something with the DataFrame

In [2]:
df.head()

         date      close       open       high        low  volume
0  2007-01-03  42.999999  43.789999  43.810000  42.999999   57900
1  2007-01-04  43.110000  44.960000  44.960000  42.990000    5700
2  2007-01-05  43.100000  43.749999  43.749999  43.100000     600
3  2007-01-08  43.100000  43.100000  43.100000  43.100000       0
4  2007-01-09  43.549999  42.999999  43.549999  42.999999    6900